/*Paleta de colores
2F8F9D
3BACB6
82DBD8
B3E8E5*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
header img {
  width: 70px;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header nav img {
  width: 70px;
}

* {
  margin: 0;
  padding: 0%;
}

head {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.7rem;
}

header {
  position: sticky;
  top: 0%;
  z-index: 2;
}

nav {
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 68);
  background: linear-gradient(336deg, rgb(0, 0, 68) 0%, rgb(30, 32, 121) 15%, rgb(0, 0, 140) 18%, rgb(0, 0, 0) 31%, rgb(16, 31, 106) 33%, rgb(10, 19, 59) 34%, rgb(5, 10, 29) 34%, rgb(0, 0, 0) 61%, rgb(17, 24, 82) 63%, rgb(0, 5, 19) 64%, rgb(0, 0, 0) 88%, rgb(3, 26, 48) 89%, rgb(0, 0, 0) 91%);
}

/*------------mainindex-----------*/
main img {
  width: 100%;
}

h1 {
  text-align: center;
}

.excursion {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-right: 2px;
  margin-left: 2px;
  gap: 3px;
}

.titulo {
  font-size: 4rem;
  text-shadow: -2px 1px 0px #000000;
  color: #000000;
}

.titulo2 h2 {
  font-size: 4rem;
  margin-top: 30px;
}

.pagos {
  margin-top: 50px;
  margin-bottom: 50px;
}

main iframe {
  display: flex;
  justify-content: center;
}

main iframe {
  margin-left: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.excursion button {
  border: 3px solid #22A699;
  font-size: 2rem;
  color: #22A699;
  text-align: center;
}

.boton {
  font-size: 2.7rem;
}

.logoantartida {
  margin-top: 30px;
}

.tituloc {
  font-size: 2.7rem;
  color: #E57C23;
}

.textoc {
  font-size: 2rem;
  color: #E57C23;
  display: flex;
  flex-direction: row;
}

.textob {
  border: 0.25rem solid #E57C23;
}

.textob {
  font-size: 2rem;
  color: #E57C23;
}

/*---------carrousel--------------*/
.slide {
  margin-top: 10px;
}

.slide img {
  height: 65vh;
}

/*---------carrousel--------------*/
/*------------------------mainexcursion-------------*/
.h1viajes {
  margin-bottom: 4rem;
  text-decoration: underline;
  font-size: 3rem;
}

.h2viajes {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.card-title {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
}

/*------------------------mainexcursion---------------*/
.textoant {
  background-image: url(../medios/mapa\ viaje.png);
  background-size: contain;
}

.textoant p {
  font-size: 2rem;
  color: #F29727;
}
.textoant h1 {
  font: size 4rem;
  text-decoration: underline;
  color: #F29727;
}
.textoant h2 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #F29727;
}
.textoant h3 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
  color: #F29727;
}
.textoant h4 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
  color: #F29727;
}
.textoant h5 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
  color: #F29727;
}
.textoant h6 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 10px;
  color: #F29727;
}

.textoant ol li {
  font-size: 2rem;
  color: #F29727;
}

.mapa {
  width: 600px;
  margin-left: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgb(17, 24, 39);
  padding: 2rem;
  color: rgb(243, 244, 246);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgb(156, 163, 175);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgb(55, 65, 81);
  outline: 0;
  background-color: rgb(17, 24, 39);
  padding: 0.75rem 1rem;
  color: rgb(243, 244, 246);
}

.input-group input:focus {
  border-color: rgb(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(156, 163, 175);
  margin: 8px 0 14px 0;
}

.forgot a, .signup a {
  color: rgb(243, 244, 246);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgb(167, 139, 250);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgb(167, 139, 250);
  padding: 0.75rem;
  text-align: center;
  color: rgb(17, 24, 39);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgb(55, 65, 81);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(156, 163, 175);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(156, 163, 175);
}

/**/
/**/
/* Cool share button made by: csozi | Website: english.csozi.hu*/
.buttons {
  position: fixed;
  z-index: 1;
  bottom: 100px;
  right: 100px;
}

.buttons {
  position: fixed;
  display: grid;
  place-items: center;
  height: fit-content;
  width: fit-content;
  transition: 0.3s;
  border-radius: 50%;
}

.buttons:hover {
  padding: 60px;
}

.buttons:hover .button {
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.main-button {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  border-radius: 50%;
  transition: 0.2s;
  z-index: 100;
}

.button {
  position: absolute;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 12px rgba(202, 202, 202, 0), -5px -5px 12px rgba(255, 255, 255, 0);
  transition: 0.3s;
  border-radius: 50%;
}

.discord-button:hover {
  background: #5865F2;
}

.buttons:hover .discord-button {
  translate: 70px 0px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.twitter-button:hover {
  background: #1CA1F1;
}

.buttons:hover .twitter-button {
  translate: 47px -47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.reddit-button:hover {
  background: #FF4500;
}

.buttons:hover .reddit-button {
  translate: 0px -70px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.messenger-button:hover {
  background: #0093FF;
}

.buttons:hover .messenger-button {
  translate: -47px -47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.pinterest-button:hover {
  background: #F0002A;
}

.buttons:hover .pinterest-button {
  translate: -70px 0px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.instagram-button:hover {
  background: #F914AF;
}

.buttons:hover .instagram-button {
  translate: -47px 47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.snapchat-button:hover {
  background: #FFFC00;
}

.buttons:hover .snapchat-button {
  translate: 0px 70px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.whatsapp-button:hover {
  background: #25D366;
}

.buttons:hover .whatsapp-button {
  translate: 47px 47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

/**/
.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgb(17, 24, 39);
  padding: 2rem;
  color: rgb(243, 244, 246);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgb(156, 163, 175);
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgb(55, 65, 81);
  outline: 0;
  background-color: rgb(17, 24, 39);
  padding: 0.75rem 1rem;
  color: rgb(243, 244, 246);
}

.input-group input:focus {
  border-color: rgb(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(156, 163, 175);
  margin: 8px 0 14px 0;
}

.forgot a, .signup a {
  color: rgb(243, 244, 246);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline rgb(167, 139, 250);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgb(167, 139, 250);
  padding: 0.75rem;
  text-align: center;
  color: rgb(17, 24, 39);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgb(55, 65, 81);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(156, 163, 175);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(156, 163, 175);
}

/**/
/**/
/* Cool share button made by: csozi | Website: english.csozi.hu*/
.buttons {
  position: fixed;
  z-index: 1;
  bottom: 100px;
  right: 100px;
}

.buttons {
  position: fixed;
  display: grid;
  place-items: center;
  height: fit-content;
  width: fit-content;
  transition: 0.3s;
  border-radius: 50%;
}

.buttons:hover {
  padding: 60px;
}

.buttons:hover .button {
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.main-button {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  border-radius: 50%;
  transition: 0.2s;
  z-index: 100;
}

.button {
  position: absolute;
  display: grid;
  place-items: center;
  padding: 10px;
  border: none;
  background: #e8e8e8;
  box-shadow: 5px 5px 12px rgba(202, 202, 202, 0), -5px -5px 12px rgba(255, 255, 255, 0);
  transition: 0.3s;
  border-radius: 50%;
}

.discord-button:hover {
  background: #5865F2;
}

.buttons:hover .discord-button {
  translate: 70px 0px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.twitter-button:hover {
  background: #1CA1F1;
}

.buttons:hover .twitter-button {
  translate: 47px -47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.reddit-button:hover {
  background: #FF4500;
}

.buttons:hover .reddit-button {
  translate: 0px -70px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.messenger-button:hover {
  background: #0093FF;
}

.buttons:hover .messenger-button {
  translate: -47px -47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.pinterest-button:hover {
  background: #F0002A;
}

.buttons:hover .pinterest-button {
  translate: -70px 0px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.instagram-button:hover {
  background: #F914AF;
}

.buttons:hover .instagram-button {
  translate: -47px 47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.snapchat-button:hover {
  background: #FFFC00;
}

.buttons:hover .snapchat-button {
  translate: 0px 70px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

.whatsapp-button:hover {
  background: #25D366;
}

.buttons:hover .whatsapp-button {
  translate: 47px 47px;
  box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
}

/**/
.lista {
  color: black;
  transition: color 0.2s;
  color: black;
  text-decoration: none;
  list-style-type: none;
}

header nav p {
  font-size: 2rem;
}

/**/
.enlace-uno {
  text-decoration: none;
  color: #16807a;
}

.enlace-dos {
  text-decoration: none;
  color: #16807a;
}

.enlace-tres {
  text-decoration: none;
  color: #16807a;
}

.enlace-cuatro {
  text-decoration: none;
  color: #16807a;
}

.enlace-uno:link {
  color: aquamarine;
}

.enlace-enlace-dos:link {
  color: aquamarine;
}

.enlace-enlace-tres:link {
  color: aquamarine;
}

.enlace-cuatro:link {
  color: aquamarine;
}

.enlace-uno:hover {
  color: #B3E8E5;
}

.enlace-dos:hover {
  color: #B3E8E5;
}

.enlace-tres:hover {
  color: #B3E8E5;
}

.enlace-cuatro:hover {
  color: #B3E8E5;
}

@media only screen and (min-width: 600px) {
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/*---------------footerindex---------------*/
.margenesf {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.textof {
  font-size: 2.3rem;
}

.fuentep {
  font-family: system-ui "Segoe UI" "Open Sans", "Helvetica Neue", sans-serif;
}

.location {
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.copyright {
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
}

footer {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2.7rem;
  background-color: #cfd9df;
  background-color: #000000;
  background: rgb(226, 235, 240);
  background: rgb(255, 255, 255);
  background-color: #000000;
}
footer p {
  font-size: 2rem;
  color: white;
}

.pages ul {
  list-style: none;
  color: white;
}

footer ul li {
  color: white;
}

.margenesf {
  text-decoration: none;
  text-align: center;
}

.copyright {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.viajes {
  width: 100%;
  gap: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin: right 2px;
  margin-left: 2px;
}

/*# sourceMappingURL=stilos.css.map */
