/*Paleta de colores
2F8F9D
3BACB6
82DBD8
B3E8E5*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header nav {
background-color: brown
}
header img {width: 70px;}
html {font-size:  62.5%;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

    
html {font-size:  62.5%;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
header nav img {
  width: 70px;
}
*{ margin: 0;
padding: 0%;}
head{font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
body{ font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 2.7rem;}
header nav p{ color: #000000;font-size: 2rem;}
header{position:sticky;
    top: 0%;
z-index: 2;}
nav{ width:100%; background-color:  brown;}
@import "pages_stilos/index";
@import "pages_stilos/excursiones";
@import "pages_stilos/antartida";

/*---------------footerindex---------------*/

.margenesf{display: flex;flex-direction:row;align-items: center;}
.textof{font-size: 2.3rem ;}
.fuentep{ font-family: system-ui 'Segoe UI' 'Open Sans', 'Helvetica Neue', sans-serif ; }
.location{font-size: 2rem;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.copyright{border-top:1px solid #0f0f0f;display: flex;flex-direction: row;justify-content: center;color: rgb(9, 9, 9);


}
footer{ margin-right: 10px;margin-left: 10px;
p {font-size: 2rem;color: #000000;
}
background:#82D8D8;font-size: 2.7rem;
}
.pages ul{list-style: none;}
.pages ul li a{
        color: #B3E8E5;
        transition: color .2s;
        color:#08514d;
          text-decoration: none;
          list-style-type: none;
        }
.margenesf{text-decoration: none;text-align: center;}
.copyright{ display: flex;flex-direction: row;justify-content: flex-end;}
.viajes{ width: 100%;gap:3px;margin-top: 5px;margin-bottom: 5px;margin: right 2px;;margin-left: 2px;}