.lista{color: black;
    transition: color .2s;
    color:black;
      text-decoration: none;
      list-style-type: none;
    }
      header nav p{ font-size: 2rem;}
      /**/
.enlace-uno{text-decoration: none;
color: #16807a }
.enlace-dos{text-decoration: none;
color: #16807a }
.enlace-tres{text-decoration: none;
color:  #16807a ;}
.enlace-cuatro{text-decoration: none;color: #16807a;}


.enlace-uno:link{color:aquamarine;}
.enlace-enlace-dos:link{color:aquamarine ;}
.enlace-enlace-tres:link{color:aquamarine ;}
.enlace-cuatro:link{color: aquamarine;}


.enlace-uno:hover{ color:  #B3E8E5;}
.enlace-dos:hover{ color: #B3E8E5;}
.enlace-tres:hover{ color: #B3E8E5;}
.enlace-cuatro:hover{ color: #B3E8E5;}


