
/*------------------------mainexcursion-------------*/


.h1viajes{margin-bottom: 4rem;text-decoration: underline; font-size: 3rem;}
.h2viajes{margin-bottom:2rem;font-size: 2.5rem;}
.card-title{font-size: 3rem;text-decoration: underline;margin-bottom: 10px;}


/*------------------------mainexcursion---------------*/